*{
    box-sizing: border-box;
    
}

body{
   
    font-family: "Poppins", sans-serif;
    margin:0px;
}

header{
   
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
}


table{
    width:80%;
    height:100%;
    margin-left: 10px;
    padding: 10px;
}



thead tr th{
    border-bottom: 2px solid rgb(211, 131, 10);
    font-size:20px;
}
tbody tr th {
    color:rgb(131, 82, 10);
    text-align: left;
    padding: 5px;
}

tbody tr:nth-child(2n){

    background-color:rgb(199, 197, 197);
    width:100px;
    height: 30px;

}

tbody tr:nth-child(2n+1){

    background-color:rgb(248, 247, 247);
    width:100px;
    height: 30px;

}

.linkCars{
    color:#1c811c;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.linkCars:hover{
    color:#030303;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
    
header h2{
    background-color: rgb(46, 107, 69);
    width:200px;
    height: 40px;
    color:white;
    text-align: center;
    margin-top:10px;
    margin-left: 10px;
    border-radius: 3px;
}

header h1{
   font-size: 40px;
   font-weight: bold;
   margin-left: 10px;
    
    
}

h3{
    font-size: 20px;
    padding:20px;

}
 

button.creeazaMasina {
    
    background-color: #04AA6D;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding:5px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-left: 20px;
    border-radius:5px ;
  }
  button.creeazaMasina:hover{
      background-color: rgb(12, 141, 23);
  }

  .containerM{
    width:500px; 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    
  }

  .inputCars{
    width:200px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    
    
  }
  .buttonsAddCars{
    width:200px;
    display:flex;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 20px;

  }
  .newCars{
    background-color: #04AA6D;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding:5px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-left: 20px;
    border-radius:5px ;
  }

  .newCars:hover{
    background-color: rgb(12, 141, 23);
}

  

